  @import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Merriweather&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(236, 236, 236);
    min-width: 300px;
}


h1{
    font-size: 2.34rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.inputArea{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   margin: auto;
   margin-top: 80px;
   max-width: 765px;
   border: 2px solid white;
   background-color: white;
   padding: 2rem;
   gap: 1rem;
   min-height: 200px;
   backdrop-filter: blur(10px);
   box-shadow: 6px 5px 30px black;
}

input[type="text"]{
    height: 50px;
    width: 73%;
    font-size: 1.1rem;
    padding: 5px 10px;
    outline: none;
    font-family: 'Martian Mono', monospace;
}

input:hover, input:focus{
   border: 2px solid rgb(41, 41, 41);
   background-color: rgb(230, 230, 230);
   box-shadow: -1px 3px 20px grey;
}

button{
    height: 50px;
    background-color: white;
    font-size: 1.3rem;
    width: 25%;
    cursor: pointer;
    background: #a2a2ff;
   font-family: 'Roboto', sans-serif;

}

button:hover{
    background: black;
    color: white;
}

.taskArea{
    max-width: 700px;
    margin: auto;
    min-width: 200px;
    min-height: 50px;
}

ul{
    height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
}

.taskArea ul::-webkit-scrollbar{
    width: 8px;
    color: #7676ff;
}

.taskArea ul::-webkit-scrollbar-track{
    border-radius: 10px;
    background: black;
    margin: 1px 4px;
}

.taskArea ul::-webkit-scrollbar-thumb{
    background: #7676ff;
    border-radius: 10px;
}

.taskArea ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    list-style: none;
    box-shadow: 2px 3px 10px black;
    /* height: 50px; */
    font-family: 'Martian Mono', monospace;
    font-size: 21px;
    padding: 1rem;
    background: white;
}

.taskArea ul li:hover{
    box-shadow: 4px 4px 25px rgb(30, 86, 207);
}

.taskArea ul li button{
    height: 33px;
    width: 100%;
    min-width: 55px;
    padding: 5px;
    background: red;
    font-size: 20px;
    margin: 0 3px;
}

.taskArea ul .task-complete .title{
    text-decoration: line-through 2px red;
}
.eMain{
    padding: 2rem;
    min-width: 200px;
    box-shadow: 3px 4px 30px black;
    background-color: white;
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    margin-top: 1rem;
}
.editBox{
    max-width: 700px;
    margin: auto;
    min-width: 200px;
}


.eMain .row{
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eMain .row label{
    font-size: 1.9rem;
    margin: 1rem;
}

input[type="checkbox"]{
    min-width: 50px;
    min-height: 30px;
    box-shadow: none;
    cursor: pointer;
}

.eMain #eBtn{
    width: 100%;
    margin: auto;
    background-color: black;
    color: whitesmoke;
}

.eMain #eBtn:hover{
    background: #d2defa;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

.backLink{
    border: 2px solid black;
    padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 200px;
   margin: 2rem auto;
   background-color: white;
}

.backLink:hover{
    box-shadow: 2px 4px 16px black;
    background-color: #7676ff;
    border-radius: 50px;
}

.task-edit-id{
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    background: #5b5b5b;
    color: white;
    width: auto;
}

.msg-alert{
    display: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.single-task .btn{
    padding: 0 10px;
    cursor: pointer;
}

.single-task .delBtn i:hover{
   color: red;  
}
.single-task .editBtn i:hover{
   color: green;  
}

@media screen and (max-width: 530px) {
    .eMain .row label {
        font-size: 1.1rem;
        margin: 7px;
    }

    .task-edit-id{
        font-size: 1rem;
    }
    .eMain .row {
        margin: 1rem 0px;
    }

    .taskArea ul li {
        font-size: 15px;
    }
    input[type="text"] {
        font-size: 13px;
    }
    button{
        font-size: 1rem;
    }
}